<div class="row mt-4">

    <div class="col-12">

        <mdb-card>
            <mdb-card-body>
                <mdb-card-title>
                    <h4>Wachtwoord Aanpassen</h4>
                </mdb-card-title>

                <mdb-card-text>
                    Vul a.u.b. je nieuwe wachtwoord in.
                </mdb-card-text>

            </mdb-card-body>
        </mdb-card>



        <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmitPassword()" class="form-group mt-3">


            <div class="md-form md-bg">
              <input mdbInput formControlName="password_input" type="password" id="password_input" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password_input.errors }">
              <label for="form1">Wachtwoord</label>
            </div>

            
            <div class="md-form md-bg">
                <input mdbInput formControlName="passwordconformation_input" type="password" id="passwordconformation_input" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.passwordconformation_input.errors }">
                <label for="form1">Bevestig Wachtwoord</label>
              </div>


            <div class="form-group">
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </div>

            <button  [disabled]="loading" class="btn-block" type="submit" mdbBtn color="primary" mdbWavesEffect>Bevestig</button>
            
        </form>
    </div>