<div class="row mt-4">

    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wachtwoord Aanpassen</h5>
                <p class="card-text">
                    Vul a.u.b. je nieuwe wachtwoord in.
                </p>
            </div>
        </div>


    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmitPassword()" class="form-group mt-3">

        <input type="password" formControlName="password_input" class="form-control" name="userPassword" placeholder="Wachtwoord"
            [ngClass]="{ 'is-invalid': submitted && f.password_input.errors }">

            <input type="password" formControlName="passwordconformation_input" class="form-control mt-3" name="userPasswordconformation" placeholder="Bevestig Wachtwoord"
            [ngClass]="{ 'is-invalid': submitted && f.passwordconformation_input.errors }">

        <div class="form-group">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>


        <button [disabled]="loading" class="btn btn-primary btn-block" type="submit">Bevestig</button>
    </form>
</div>