<!--Second Row-->
<div class="row mt-4">

    <div class="col-12 col-lg-6 offset-lg-3">

        <div *ngIf="!sentmail">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registreren</h5>
                    <p class="card-text">Vul a.u.b. onderstaande gegevens in.<br><br> Let erop dat je je echte naam en
                        email opgeeft, zodat de brandmeester kan zien wie je bent.
                        <br><br> Je email wordt tevens gebruikt voor verificatie.</p>
                </div>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()" class="form-group mt-3">

                <input type="text" formControlName="usermail_input" class="form-control" name="userEmail" placeholder="Emailadres"
                    [ngClass]="{ 'is-invalid': submitted && f.usermail_input.errors }">
                <input type="text" formControlName="forname_input" class="form-control  mt-3" name="forName"
                    placeholder="Voornaam" [ngClass]="{ 'is-invalid': submitted && f.forname_input.errors }">
                <input type="text" formControlName="surname_input" class="form-control  mt-3" name="surName"
                    placeholder="Achternaam" [ngClass]="{ 'is-invalid': submitted && f.surname_input.errors }">
                <input formControlName="password_input" class="form-control  mt-3" name="userPassword" placeholder="Wachtwoord"
                    type="password" [ngClass]="{ 'is-invalid': submitted && f.password_input.errors }">

                <div class="form-group">
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                </div>


                <button [disabled]="loading" class="btn btn-primary btn-block" type="submit">Bevestig</button>
            </form>

        </div>

        <div *ngIf="sentmail">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registratie verifiëren</h5>
                    <p class="card-text">Er is zojuist een code naar het opgegeven email gestuurd.<br><br>
                        Kopieer deze code in ondestaand van en druk om verstuur om je email te verifiëren.</p>
                </div>
            </div>

            <div class="form-group mt-3">
                <input id="my-input" class="form-control" type="text" placeholder="Registratie code" [(ngModel)]="verificationCode">
                <button class="btn btn-primary btn-block mt-3" (click)="VerifyRegistration()">Verstuur</button>
            </div>
        </div>
    </div>
</div>