<div class="row mt-4">

    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wachtwoord vergeten</h5>
                <p class="card-text">
                    Zucht... het is weer zover hoor.
                    <br>
                    <br>
                    Vul hieronder je emailadres in, dan krijg je een mail waarmee je je wachtwoord kan resetten.
                </p>
            </div>
        </div>


    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitConfirm()" class="form-group mt-3">

        <input type="text" formControlName="usermail_input" class="form-control" name="userEmail" placeholder="Emailadres"
            [ngClass]="{ 'is-invalid': submitted && f.usermail_input.errors }">

        <div class="form-group">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>


        <button [disabled]="loading" class="btn btn-primary btn-block" type="submit">Bevestig</button>
    </form>
</div>