<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">

    <ng-container *ngIf="error; else NoError">

            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <div fxFlex="100%">
                    <mat-card>
                        <mat-card-subtitle>
                            <h2 class="mat-h2">Registratie Mislukt</h2>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <p class="mat-body-2">
                                Het registreren van je account is niet gelukt. {{error}}. Je wordt automatisch
                                teruggebracht naar het inlogscherm.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

    </ng-container>


    <ng-template #NoError>

            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <div fxFlex="100%">
                    <mat-card>
                        <mat-card-subtitle>
                            <h2 class="mat-h2">Registratie Gelukt</h2>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <p class="mat-body-2">
                                Het registreren van je account is gelukt. Je wordt binnen enkele seconden
                                teruggebracht naar de inlog pagina.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
  
    </ng-template>

</div>