<div *ngIf="doneloading">
    <div class="row mt-4">
        <div class="col-12">
            <mdb-card class="succes my-auto">
                <mdb-card-body>
                    <mdb-card-title class="text-white">
                        <h4>Registratie Gelukt</h4>
                    </mdb-card-title>
                    <mdb-card-text class="text-white">
                        Het registreren van je account is gelukt.
                        <br>
                        Wacht totdat de brandmeester je account activeert, daarna kun je inloggen.
                        <br>
                        Je wordt binnen enkele seconden teruggebracht naar de inlog pagina.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>