<!--Navbar-->
<div class="row mt-3">

    <div class="col-12 col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
            <a class="navbar-brand">Welkom Brandmeester!</a>
            <button class="btn btn-danger ml-auto mr-1" (click)="LogOut($event)">Log uit</button>
        </nav>
    </div>
</div>

<!--Total stripe info-->
<div class="row mt-4">
    <div class="col-12">
        <div class="jumbotron customjumbo">
            <h1 class="display-5 customheadertext text-center">Totaal Gestreept</h1>
            <hr class="my-2">


            <table class="table mt-3">
                <thead class="thead-dark">
                    <tr class="d-flex">
                        <th class="col-3">Naam</th>
                        <th class="col-4">Saldo</th>
                        <th class="col-3">Totaal aantal strepen</th>
                    </tr>
                </thead>

                <tbody>

                    <!--Work in progress-->

                    <tr *ngFor="let user of allusersstripes | keyvalue" class="d-flex">

                        <!--if a user is selected show input fields-->
                        <ng-container *ngIf="user == selectedUser_Saldo; else UserSaldoNotSelected">
                            <td class="col-3">{{user.key.forname}} {{user.key.surname}}</td>
                            <td class="col-4">€
                                <input style="width :75%" type="number" placeholder=" {{user.key.saldo/100 | number:'.2'}}"
                                    [(ngModel)]="selectedUserSaldo">
                            </td>
                            <td class="col-3">{{user.value}}</td>
                            <td class="col-2">
                                <i class="float-right d-inline fa fa-check fa-2x" (click)="SaveSaldo()"></i>
                            </td>
                        </ng-container>


                        <!--if no user is selected, show normal overview-->
                        <ng-template #UserSaldoNotSelected>
                            <td class="col-3">{{user.key.forname}} {{user.key.surname}}</td>
                            <td class="col-4">€ {{user.key.saldo/100 | number:'.2'}}</td>
                            <td class="col-3">{{user.value}}</td>
                            <td class="col-2">
                                <i class="float-right d-inline fa fa-edit fa-2x" (click)="EditSaldo(user)" name=""></i>
                            </td>
                        </ng-template>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Total punishmentstripes info-->
<div class="row">
    <div class="col-12">
        <div class="jumbotron customjumbo">
            <h1 class="display-5 customheadertext text-center">Bijstrepen</h1>
            <hr class="my-2">


            <table class="table mt-3">
                <thead class="thead-dark">
                    <tr class="d-flex">
                        <th class="col-3">Naam</th>
                        <th class="col-4">Bijgestreept</th>
                        <th class="col-3">Bedrag</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let user of alluserpunishmentstripes | keyvalue" class="d-flex">

                        <ng-container *ngIf="user == selectedUser_PunishmentStripes; else userpunishmentstripesnotselected">
                            <td class="col-3">{{user.key.forname}} {{user.key.surname}}</td>
                            <td class="col-4">
                                <input style="width :75%;" type="number" placeholder=" {{user.value}}" [(ngModel)]="selectedUserPunishmentStripes">
                            </td>
                            <td class="col-3">€ {{user.value * 0.50 | number:'.2'}}</td>
                            <td class="col-2">
                                <i class="float-right d-inline fa fa-check fa-2x" (click)="SavePunishmentStripes()"
                                    name=""></i>
                            </td>
                        </ng-container>

                        <ng-template #userpunishmentstripesnotselected>

                            <td class="col-3">{{user.key.forname}} {{user.key.surname}}</td>
                            <td class="col-4">{{user.value}}</td>
                            <td class="col-3">€ {{user.value * 0.50 | number:'.2'}}</td>
                            <td class="col-2">
                                <i class="float-right d-inline fa fa-edit fa-2x" (click)="EditPunishmentStripes(user)"
                                    name=""></i>
                            </td>
                        </ng-template>



                    </tr>

                </tbody>
            </table>



        </div>
    </div>
</div>

<!--Deposit info-->
<div class="row">
    <div class="col-12">
        <div class="jumbotron customjumbo">
            <h1 class="customheadertext text-center">Inleg aanvragen</h1>
            <hr class="my-2">

            <table class="table mt-3">
                <thead class="thead-dark">
                    <tr class="d-flex">
                        <th class="col-3">Naam</th>
                        <th class="col-3">Inleg bedrag</th>
                        <th class="col-4">Aanvraag datum</th>
                    </tr>
                </thead>

                <tbody>

                    <!--Work in progress-->

                    <tr *ngFor="let depositrequest of alldepositrequests" class="d-flex">
                        <td class="col-3">{{depositrequest.user.forname}} {{depositrequest.user.surname}}</td>
                        <td class="col-3">€ {{depositrequest.amount/100 | number:'.2'}}</td>
                        <td class="col-4">{{depositrequest.requestDate | date: 'longDate'}}</td>
                        <td class="col-2">
                            <button class="btn btn-success btn-sm mt-1 btn-block" (click)="AcceptRepositRequest(depositrequest.id)">
                                <i class="fa fa-check"></i>
                            </button>
                            <button class="btn btn-danger btn-sm mt-1 btn-block" (click)="RejectDepositRequest(depositrequest.id)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>

                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>