<!--Card-->
<div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="15px">

    <div fxLayout="row">
        <div fxFlex="100%">
            <mat-card>
                <mat-card-subtitle>
                    <h2 class="mat-h2">Wachtwoord vergeten</h2>
                </mat-card-subtitle>
                <mat-card-content>
                    <p class="mat-body-2">
                        Vul hieronder je mailadres in,
                        dan krijg je een mail waarmee je je wachtwoord kan resetten.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>

<!--Form-->
<div fxLayout="column" fxLayoutAlign="center center" [style.padding-top]="'15px'">

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitConfirm()">

        <div fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="100%">
                <mat-form-field appearance="outline" [style.width.px]=327>
                    <mat-label>Mailadres</mat-label>
                    <input matInput formControlName="usermail_input" type="text"
                        [ngClass]="{ 'is-invalid': submitted && f.usermail_input.errors }">
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex="100%">
                <div class="form-group">
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                </div>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex="100%">
                <button class="customconfirmbutton" mat-raised-button color="primary" [disabled]="loading"
                    type="submit">Bevestig</button>
            </div>
        </div>

    </form>

</div>
