<!--Total punishmentstripes info-->
<div class="row mt-1">
    <div class="col-12">


        <div class="jumbotron customjumbo">
            <h1 class="display-5 customheadertext text-center">Bijstrepen</h1>
            <hr class="my-2">


            <div class="md-form md-outline">
                <input placeholder="Zoek op gebruiker naam" mdbInput type="text" id="searchuser_input"
                    class="form-control" (input)="onNameChange($event.target.value)">
            </div>


            <table mdbTable mdbTableScroll scrollY="true" maxHeight="300" striped="true">
                <thead class="black white-text">
                    <tr>
                        <th [mdbTableSort]="datasource" sortBy="user.forname">Naam</th>
                        <th [mdbTableSort]="datasource" sortBy="stripetotal">Bijgestreept</th>
                        <th [mdbTableSort]="datasource" sortBy="stripetotal">Bedrag (€)</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let userstripe of datasource;">

                        <th style="width: 40%" scope="row">{{userstripe.user.forname}} {{userstripe.user.surname}}</th>
                        <td style="width: 25%" contenteditable="true"
                            (click)="SetSelectedAmount($event.target.textContent)"
                            (blur)="SavePunishmentStripes(userstripe, $event.target.textContent)">
                            {{userstripe.stripetotal}}
                        </td>
                        <td style="width: 35%">{{userstripe.stripetotal * 0.50 | number:'.2'}}</td>
                </tbody>
            </table>

        </div>
    </div>
</div>