<!--Navbar-->
<div class="row mt-3">

    <div class="col-12 col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
            <a class="navbar-brand">Welkom {{loggedinUser.forname}}!</a>
            <button class="btn btn-danger ml-auto mr-1" (click)="LogOut($event)">Log uit</button>
        </nav>
    </div>
</div>


<!--Menu selection-->
<div class="row mt-4">

    <div class="col-12 col-lg-12">
        <div class="jumbotron customjumbo">

            <div class="btn-group btn-group-toggle d-flex justify-content-between" data-toggle="buttons">
                <label class="btn btn-primary mr-1">
                    <input (click)="SetPersonalScreen($event)" type="radio" name="options" id="option2" autocomplete="off">
                    Persoonlijk strepen
                </label>
                <label class="btn btn-primary ml-1">
                    <input (click)="SetGroupScreen($event)" type="radio" name="options" id="option1" autocomplete="off"
                        checked> Groep strepen
                </label>

            </div>
        </div>
    </div>

</div>


<!--Stripe interaction + debts for large screens-->
<div class="row">

    <div class="col-12 col-lg-6">

        <div *ngIf="!groupstripesmenu">
            <!--first if, for personal striping-->
            <div class="jumbotron customjumbo">
                <h1 class="display-5 customheadertext text-center">Persoonlijk strepen</h1>
                <hr class="my-2">

                <div class="row">
                    <div class="col-12 text-center">
                        <ngb-datepicker [(ngModel)]="currentdate" (select)="onDateSelection($event)"></ngb-datepicker>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-3">
                        <i (click)="RemoveStripe($event)" class="fa fa-minus-circle fa-4x"></i>
                    </div>
                    <div class="col-6">
                        <h1 class="text-center font-weight-bold align-middle">{{personalstripesnumber}}</h1>
                    </div>
                    <div class="col-3">
                        <i (click)="AddStripe($event)" class="float-right fa fa-plus-circle fa-4x"></i>
                    </div>
                </div>

            </div>
        </div>


        <!--Second if, for group striping-->
        <div *ngIf="groupstripesmenu">
            <div class="jumbotron customjumbo">
                <h1 class="display-5 customheadertext text-center">Groep strepen</h1>
                <p class="lead text-center">Datum : {{selectedDate | date: 'longDate'}}</p>
                <hr class="my-2">

                <div class="input-group">

                    <select id="selectedUser" name="selectedUser" [(ngModel)]="selectedUserID" class="form-control select">
                        <option [ngValue]="undefined" hidden selected disabled>Selecteer mensen</option>
                        <option *ngFor="let user of allusers" [value]="user.id">
                            {{user.forname}} {{user.surname}}
                        </option>
                    </select>

                    <span class="input-group-btn ml-2">
                        <button class="btn btn-primary" (click)="AddToGroup($event.target.value)" type="button">Voeg
                            toe</button>
                    </span>
                </div>

                <hr class="my-3">

                <div *ngFor="let user of selectedUsers" class="mb-2">

                    <div class="row align-items-center">
                        <div class="col-4 align-self-center">
                            <h5>{{user.forname}}</h5>
                        </div>
                        <div class="col-6 align-self-center text-right">
                            <i class="d-inline mr-2 fa fa-minus-circle fa-2x" (click)="RemoveGroupStripe(user)"></i>
                            <h3 class="d-inline text-center">{{user.todaystripes}}</h3>
                            <i class="d-inline ml-2 fa fa-plus-circle fa-2x" (click)="AddGroupStripe(user)"></i>

                        </div>
                        <div class="col-2">
                            <i class="d-inline float-right fa fa-trash fa-2x" (click)="RemoveFromGroup(user.id)"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!--Debt information-->
    <div class="col-12 col-lg-6">
        <div class="jumbotron customjumbo">
            <h1 class="display-5 customheadertext text-center">Overzicht</h1>
            <hr class="my-2">

            <div class="text-center">
                <h5 class="text-center d-inline">Huidig Saldo :</h5>
                <h5 class="font-weight-bold d-inline" [ngStyle]="{'color': saldoColor}"> €{{loggedinUser.saldo/100 |
                    number:'.2'}}</h5>
            </div>

            <div class="text-center mt-2">
                <h6 class="text-center d-inline">Totaal aantal stepen :</h6>
                <h6 class="font-weight-bold d-inline"> {{totalStripes}}</h6>
            </div>



            <div class="customtable">
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th>Maand</th>
                            <th>Totaal strepen</th>
                            <th>Totale Kosten</th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr *ngFor="let recipient of totalstripesPerMonth | keyvalue">

                            <ng-container *ngIf="recipient.key == '1-1900'; else NoFaultyStripes">
                                <td>Bijgestreept door brandmeester</td>
                                <td>{{recipient.value}}</td>
                                <td>€ {{recipient.value * 0.50 | number:'.2'}}</td>
                            </ng-container>

                            <ng-template #NoFaultyStripes>
                                <ng-container *ngIf="recipient.key == '1-1970'; else DatesKnown">
                                    <td>Niet bekend</td>
                                    <td>{{recipient.value}}</td>
                                    <td>€ {{recipient.value * 0.50 | number:'.2'}}</td>
                                </ng-container>
                                <ng-template #DatesKnown>
                                    <td>{{recipient.key}}</td>
                                    <td>{{recipient.value}}</td>
                                    <td>€ {{recipient.value * 0.50 | number:'.2'}}</td>
                                </ng-template>


                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="jumbotron customjumbo">
            <h1 class="display-5 customheadertext text-center">Inleggen</h1>
            <hr class="my-2">
            <h6 class="text-center">Volg onderstaande stappen om in te leggen</h6>
            <p class="mt-4">1. Schrijf het gewenste bedrag over naar rekening <mark>"Voorbeeldrekening"</mark> t.n.v
                <mark>Voorbeeldnaam</mark>.</p>
            <p>2. Laat de brandmeester weten dat je geld hebt ingelegd:</p>

            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    <input type="number" name="paid_amount" class="form-control" placeholder="Geld in euro's"
                        [(ngModel)]="paid_amount">
                </div>
                <button type="submit" class="btn btn-primary mb-2 ml-2 ml-md-0" (click)="NotifyOfPayment()">Verstuur</button>
            </form>

            <p class="mt-3">3. Wacht totdat de brandmeester je betaling heeft goed gekeurd, je saldo wordt automatisch
                aangepast.</p>
        </div>
    </div>

</div>