<!--First row-->
<div class="row mt-5">
    <div class="col-10 offset-1 col-lg-4 offset-lg-4">
        <img class="img-responsive center-block" src="../../../assets/logo_twv without background smaller.png" alt="">
    </div>
</div>


<!--Second Row-->
<div class="row mt-5">

    <div class="col-12 col-lg-6 offset-lg-3">


        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="form-group">

            <input formControlName="forname_input" class="form-control" name="forName" placeholder="Voornaam"
                type="text" [ngClass]="{ 'is-invalid': submitted && f.forname_input.errors }">
            <input formControlName="password_input" class="form-control" name="userPassword"
                placeholder="Wachtwoord" type="password" [ngClass]="{ 'is-invalid': submitted && f.password_input.errors }">

            <div class="form-group">
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </div>

            <div class="row">
                <div class="col-6">
                    <button [disabled]="loading" class="btn btn-primary btn-block" type="submit">Log in</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary btn-block" (click)="Register()">Registreer</button>
                </div>
            </div>

        </form>
    </div>
</div>