.img-responsive {
    max-width: 100%; /* or to whatever you want here */
    max-height: auto; /* or to whatever you want here */
}

input[type=text], .txtarea{
    margin-bottom: 3%;
}

button{
    margin-top: 4%;
}

.img-responsive {
    display: inline-block;
  }
