
<!--First row-->
<img class="img-responsive center-block" src="../../../assets/twv_logo.png" alt="">


<!--Second Row-->


<form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">

    <mat-form-field appearance="fill" class="full-width-field">
        <mat-label>Voornaam</mat-label>
        <input matInput formControlName="forname_input"
            [ngClass]="{ 'is-invalid': submitted && f.forname_input.errors }">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width-field">
        <mat-label>Wachtwoord</mat-label>
        <input matInput formControlName="password_input" type="password"
            [ngClass]="{ 'is-invalid': submitted && f.password_input.errors }">
    </mat-form-field>


            <button mat-button [disabled]="loading" type="submit">Log in</button>

            <button mat-button (click)="Register()">Registreer</button>


</form>



<button mat-button class="full-width-field" (click)="ForgotPassword()">Wachtwoord vergeten</button>