<!--Receipt info-->
<div class="row mt-1">
    <div class="col-12">
        <div class="jumbotron customjumbo">
            <h1 class="customheadertext text-center">Bonnetjes (Nog niet af)</h1>
            <hr class="my-2">

            <form [formGroup]="receiptUploadForm" (ngSubmit)="UploadReceipt()" class="form-group">

                <div class="md-form">
                    <input mdbInput mdbValidate type="text" id="receipt_description" class="form-control"
                        formControlName="receipt_description"
                        [ngClass]="{ 'is-invalid': uploading && f.receipt_description.errors }">
                    <label for="receipt_description">Omschrijving bonnetje</label>
                </div>

                <div class="md-form">
                    <input mdbInput mdbValidate type="text" id="receipt_amount" class="form-control"
                        formControlName="receipt_amount"
                        [ngClass]="{ 'is-invalid': uploading && f.receipt_amount.errors }">
                    <label for="receipt_amount">Bedrag bonnetje (in €)</label>
                </div>

                <div class="md-form">
                    <input mdbInput mdbValidate type="file" id="receipt_file"
                        (change)="handleFileInput($event.target.files)" class="form-control"
                        formControlName="receipt_file" [ngClass]="{ 'is-invalid': uploading && f.receipt_file.errors }">
                </div>



                <button class="btn-block" type="submit" mdbBtn color="primary" mdbWavesEffect>
                    <ng-container *ngIf="!uploading; else isUploading">
                        Upload
                    </ng-container>
                    <ng-template #isUploading>
                        <span class="spinner-border spinner-border-sm float-right" role="status"
                            aria-hidden="true"></span>
                        Loading...
                    </ng-template>
                </button>

            </form>

            <hr class="my-2">

            <table mdbTable mdbTableScroll scrollY="true" maxHeight="300" striped="true">
                <thead class="black white-text">
                    <tr>
                        <th [mdbTableSort]="allreceipts" sortBy="description">Beschrijving</th>
                        <th [mdbTableSort]="allreceipts" sortBy="paidAmount">Bedrag (€)</th>
                        <th [mdbTableSort]="allreceipts" sortBy="paidDate">Datum betaald</th>
                        <th [mdbTableSort]="allreceipts" sortBy="filename">foto naam</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let receipt of allreceipts;">

                        <th style="width: 30%" scope="row">{{receipt.description}}</th>
                        <td style="width: 23.3%">
                            {{receipt.paidAmount/100 | number:'.2'}}
                        </td>
                        <td style="width: 23.3%">{{receipt.paidDate | date: 'longDate'}}</td>
                        <td style="width: 23.3%">
                            <p class="clickableImage" (click)="RetrieveImage(receipt.filename); basicModal.show()">
                                {{receipt.filename}}
                            </p>
                        </td>
                </tbody>
            </table>



            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="myBasicModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="basicModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title w-100" id="myModalLabel">Foto bonnetje</h4>
                        </div>
                        <div class="modal-body">
                            <img *ngIf="imagePath" id="retrievedImage" [src]="imagePath" class="img-responsive"
                                width="100%">
                        </div>
                        <div class="modal-footer">
                            <mdb-icon fas icon="undo" class="d-inline" size="2x"></mdb-icon>
                            <mdb-icon fas icon="redo" class="d-inline" size="2x"></mdb-icon>
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                                (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>