<div *ngIf="currentstock">

    <div class="row">
        <div class="col-12">

            <div class="jumbotron customjumbo">
                <h1 class="display-5 customheadertext text-center">Voorraad</h1>
                <hr class="my-2">

                <div class="md-form md-bg">
                    <input mdbInput type="number" id="currentbottles_input" class="form-control"
                        placeholder="{{currentstock.currentBottles}}" (blur)="EditCurrentBottles($event.target.value)">
                    <label for="currentbottles_input">Flessen bier op voorraad</label>
                </div>

                <div class="md-form md-bg">
                    <input mdbInput type="number" id="returnedbottles_input" class="form-control"
                        placeholder="{{currentstock.returnedBottles}}"
                        (blur)="EditReturnedBottles($event.target.value)">
                    <label for="returnedbottles_input">Flessen bier ingeleverd</label>
                </div>

                <div class="md-form md-bg">
                    <input mdbInput type="number" id="notstrippedbottles_input" class="form-control"
                        placeholder="{{currentstock.nonStripedBottles}}"
                        (blur)="EditNotStripedBottles($event.target.value)">
                    <label for="notstrippedbottles_input">Flessen bier niet gestreept</label>
                </div>

            </div>
        </div>
    </div>

</div>