<div *ngIf="doneloading"></div>

<div class="row mt-4">
    <div class="col-12">

        <!--need to fix screen when no error is receieved-->
            <mdb-card class="my-auto succes">
                <mdb-card-body>
                    <mdb-card-title class="text-white">
                        <h4>Gebruiker geactiveerd</h4>
                    </mdb-card-title>
                    <mdb-card-text class="text-white">
                        De gebruiker is succesvol geactiveerd.
                        <br>
                        Hij/zij is hier via de mail van op de hoogte gebracht.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>

    </div>
</div>