<div *ngIf="!sentmail">

    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="15px">

        <div fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="100%">
                <mat-card>
                    <mat-card-subtitle><h2 class="mat-h2">Registreren</h2></mat-card-subtitle>
                    <mat-card-content>
                            <p class="mat-body-2">
                                Vul a.u.b. onderstaande gegevens in.<br><br> Let erop dat je je echte naam
                                en
                                email opgeeft, zodat de brandmeester kan zien wie je bent.
                                <br><br> Je email wordt tevens gebruikt voor verificatie.
                            </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>

    <div fxLayout="column" fxLayoutAlign="center center" [style.padding-top]="'15px'" fxLayoutGap="gappx">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">


                <div fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlex="100%"> 

                        <mat-form-field appearance="outline" [style.width.px]=327>
                            <mat-label>Mailadres</mat-label>
                            <input matInput formControlName="usermail_input" type="text"
                                [ngClass]="{ 'is-invalid': submitted && f.usermail_input.errors }">
                        </mat-form-field>

                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlex="100%">

                        <mat-form-field appearance="outline" [style.width.px]=327>
                            <mat-label>Voornaam</mat-label>
                            <input matInput formControlName="forname_input" type="text"
                            [ngClass]="{ 'is-invalid': submitted && f.forname_input.errors }">
                        </mat-form-field>

                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlex="100%">

                        <mat-form-field appearance="outline" [style.width.px]=327>
                            <mat-label>Achternaam</mat-label>
                            <input matInput formControlName="surname_input" type="text"
                            [ngClass]="{ 'is-invalid': submitted && f.surname_input.errors }">
                        </mat-form-field>

                    </div>
                </div>
                
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlex="100%">

                        <mat-form-field appearance="outline" [style.width.px]=327>
                            <mat-label>Wachtwoord</mat-label>
                            <input matInput formControlName="password_input" type="password"
                            [ngClass]="{ 'is-invalid': submitted && f.password_input.errors }">
                        </mat-form-field>

                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">

                    <div fxFlex="100%">
                        <div class="form-group">
                            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                        </div>

                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="100%">
                        <button class="customconfirmbutton" mat-raised-button color="primary" [disabled]="loading"  type="submit">Bevestig</button>
                    </div>
                </div>
        </form>

</div>